<h1>Listes des produits disponible:</h1>
<div class="product-card">
  <% @products.each do |product| %>
    <div class="product-card-details">
      <%= link_to product_path(product) do %>
        <%= image_tag(product.photo) %>
            <div><p>
              <%= product.name %>
              <div><%= product.description %>
              </div></p>
                <div>
                <p><%= product.price %> €</div></p>
                </div>
    </div>
      <% end %>
  <% end %>
</div>
